### If we want to create a dictionary that has one product and the price of this product:

In [1]:
product = {'product':'iphone','price':1000}
product

{'product': 'iphone', 'price': 1000}

### If we want to create a dictionary that has several products and the prices of these products:

In [2]:
products = {'Product':['iphone','laptop','tablet'],'price':[1000,1200,250]}
products

{'Product': ['iphone', 'laptop', 'tablet'], 'price': [1000, 1200, 250]}

### To convert dictionary to Pandas DataFrame:

In [3]:
import pandas as pd 
df = pd.DataFrame(products)
df

  Product  price
0  iphone   1000
1  laptop   1200
2  tablet    250